<div>
    <h2>{{blog.title}}</h2>
    <b>{{blog.author}}</b>
    <p>{{blog.description}}</p>
    <p>{{blog.comments}}</p>
    
    <button (click)="toggleVisibility()">Edit</button>
    <button style="margin-left: 15px;" (click)="onDelete()">Delete</button>
    <div *ngIf="isVisible">
        <div>
            <label for="title">Title</label>
            <input type="string" name="title" id="title" required>
        </div>
        <div>
            <label for="author">Author</label>
            <input type="string" name="author" id="author" required>
        </div>
        <div>
            <label for="description">Description</label>
            <input type="string" name="description" id="description" required>
        </div>
        <div>
            <label for="comments">Comment</label>
            <input type="string" name="comments" id="comments" required>
        </div>
        <div>
            <button *ngIf="isVisible" (click)="onEdit()">Save</button>
        </div>
    </div>
</div>

