<form id="userForm">
    <div>
        <label for="email">Email:</label>
        <input type="string" id="email" name="email" required>
    </div>
    <br>
    <div>
        <label for="name">Name:</label>
        <input type="string" id="name" name="name" required>
    </div>
    <br>
    <div>
        <label for="bio">Bio:</label>
        <input type="string" id="bio" name="bio" required>
    </div>
    <br>
    <div>
        <label for="active">Active:</label>
        <input type="boolean" id="active" name="active" required>
    </div>
    <button onclick="addUser()">Add User</button>
</form>

