<div>
    {{book.name}}
    <p>{{book.author}}</p>
    <p>{{book.isbn}}</p>
    
    <button (click)="toggleVisibility()">Edit</button>
    <button style="margin-left: 15px;" (click)="onDelete()">Delete</button>
    <div *ngIf="isVisible">
        <div>
            <label for="name">Title</label>
            <input type="text" name="name" id="name" required>
        </div>
        <div>
            <label for="author">Author</label>
            <input type="text" name="author" id="author" required>
        </div>
        <div>
            <label for="isbn">ISBN</label>
            <input type="text" name="isbn" id="isbn" required>
        </div>
        <div>
            <button (click)="onEdit()">Save</button>
        </div>
    </div>
</div>
